#stars-frame .glyphicon {
  margin: 0.3em;
  font-size: 1.75em;
}

#stars-frame, #answer-frame {
  width: 40%;
  float: left;
}

#button-frame {
  width: 20%;
  float: left;
  text-align: center;
  margin-top: 70px;
}

#stars-frame .well, #answer-frame .well {
  height: 200px;
}

#numbers-frame .number, #answer-frame .well span {
  display: inline-block;
  margin: 0.5em;
  /* background-color: #bbb; */
  width: 30px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

#answer-frame .well span {
  background-color: #bbb;
}

#numbers-frame .selected-true {
  background-color: #e8e8e8;
  color: #ddd;
  cursor: not-allowed;
}

/**********  Pool Ball colors ***********/

.number:nth-child(1), #answer-frame .well span:nth-child(1) {
  background-color: yellow;
}
.number:nth-child(2), #answer-frame .well span:nth-child(2) {
  background-color: blue;
}
.number:nth-child(3), #answer-frame .well span:nth-child(3) {
  background-color: red;
}
.number:nth-child(4), #answer-frame .well span:nth-child(4) {
  background-color: purple;
}
.number:nth-child(5), #answer-frame .well span:nth-child(5) {
  background-color: orange;
}
.number:nth-child(6), #answer-frame .well span:nth-child(6) {
  background-color: green;
}
.number:nth-child(7), #answer-frame .well span:nth-child(7) {
  background-color: darkred;
}
.number:nth-child(8), #answer-frame .well span:nth-child(8) {
  background-color: black;
}
.number:nth-child(9), #answer-frame .well span:nth-child(9) {
  background-color: orange;
}
